.section-blog {
  .blog-box {
    position: relative;
    min-height: 400px;
    border-left: solid 2px #F952F9;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;
      width: 100%;
      border-bottom: solid 2px #F952F9;
    }

    .section-blog-title {
      white-space: nowrap;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-60%, -50%) rotate(-90deg);
      transform-origin: center;
    }
  }
    .blog-box-content {
      a {text-decoration: underline;}
      ul {
          list-style: disc;
          line-height: 1.5em;
          padding-left: 2em;
      }
  
      h1 {
          font-size: 140%;
          font-weight: 500;
          padding-bottom: 1em;
      }
      h2 {
          font-size: 120%;
          font-weight: 500;
          padding-bottom: 0.5em;
      }
      h3 {
          font-size: 110%;
          font-weight: 500;
          padding-bottom: 0.3em;
      }
      .tldr {
          font-size: 110%;
          font-weight: 500;
          padding-bottom: 0.3em;
      }
    }

  .section-blog-item {
    .item-title {
      font-size: 20px;
      border-bottom: solid 2px rgba(249, 82, 249, 1);
    }
    .item-date {
      font-size: 14px;
    }
    .item-summary {
      line-height: 20px;
      font-size: 14px;
    }
  }

  .blog-box-single {
    position: relative;
    min-height: 400px;

    .blog-box-content {
      border-top: solid 2px #F952F9;
      border-left: solid 2px #F952F9;
    }

    .blog-box-content-text {
      padding: 16px;

      p {
    
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
        text-align: justify;
        img {
            width: 100%;
        }
      }
    }

    .item-title {
      font-size: 20px;
    }
    .item-date {
      font-size: 14px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;
      width: 100%;
      border-bottom: solid 2px #F952F9;
    }

    .section-blog-title {
      white-space: nowrap;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-60%, -50%) rotate(-90deg);
      transform-origin: center;
    }
  }

  .blog-button {
    padding: 8px 16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #F952F9;
    border: solid 2px #F952F9;
    border-radius: 40px;
    background-color: #11051E;
    cursor: pointer;
  }

  .lds-ring {
    position: relative;
    width: 24px;
    height: 24px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    margin: 4px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #F952F9 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
