@import "reset";
@import "grid";
@import "utilities";

@import "sections/section-hero";
@import "sections/section-gestures";
@import "sections/section-web";
@import "sections/section-home";
@import "sections/section-contact";
@import "sections/section-blog";
@import "sections/footer";

html,
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  color: #00FAFA;
  scroll-behavior: smooth;
}


@media (min-width: 576px) {
  html,
  body {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  background-color: #11051E;
  border: solid 16px #271D30;
  overflow-x: hidden;
}

h3 { font-size: 1.5rem; }

a {
  color: #00FAFA;
  text-decoration: none;
}
a:hover {
  color: #00FAFA;
  text-decoration: underline;
}
pre {
    box-sizing: border-box;
    margin: 0 0 1.75em 0;
    width: 100%;
    padding: 24px;
    border-radius: 2px;
    font-size:16px;
    line-break: anywhere;
    background-color: black;
    font-family: monospace;
}
code {
    line-height: 1.4;
    font-weight: 500;
}
.menu-nav {
  position: relative;
  width: 100%;
  height: 16px;
  margin-top:16px;
}

@media (min-width: 768px) {
  .menu-list {
    position: absolute;
    left: 70.5%;
    transform: translateX(-34px);
  }
}

.menu-item {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8rem;
}

@media (min-width: 576px) {
  .menu-item {
    font-size: 1rem;
  }
}

.section-hero {
  position: relative;
}

.section-hero-text {
  position: absolute;
  top: 50%;
  left: 25%;
}

// .section-features-title {
//   font-size: 24px;

//   // Medium devices (tablets, 768px and up)
//   @media (min-width: 768px) {
//     font-size: 26px;
//   }
// }


