<section class="section section-contact padding-y-128" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="contact-box column-md-8 column-lg-6 font-family-courier-new color-pink-flamingo">
        <div class="right-border"></div>
        <div class="bottom-border"></div>
        <div class="contact-decision">
          <div class="contact-decision-text text-align-center ">
            Got an<br>iPad? 
          </div>
        </div>
        <div class="contact-label-no">NO</div>
        <div class="contact-label-yes">YES</div>
        <div class="contact-textflight">
          <div class="text-align-center padding-top-16">
            <img class="" src="/images/testflight.png" alt="" width=50 height="50">
          </div>
          <div class="text-align-center font-size-16">
            <a class="color-chartreuse-yellow color-hover-chartreuse-yellow" href="{{ .buttonUrl }}">
              Join us on<br>TestFlight
            </a>
          </div>
        </div>
        <div class="contact-form">
          <form class="display-flex flex-direction-column" name="nonipad" data-netlify="true" method="post">
            <div class="contact-form-input">
              <input type="text" name="name" id="name" placeholder="Name" class="padding-y-8 padding-x-16">
              <input required type="email" name="email" id="email" placeholder="Email" class="padding-y-8 padding-x-16">
              <select required name="operating-system" id="operating-system" placeholder="Operating System" class="padding-y-8 padding-x-16">
                <option disabled selected hidden value="">Operating System</option>
                <option value="android">Android</option>
                <option value="chromebook">ChromeBook</option>
                <option value="Windows">Windows</option>
                <option value="Other">Other</option>
              </select>
              <input type="text" name="other" id="other" placeholder="Other" class="padding-y-8 padding-x-16">
            </div>
            <div class="contact-form-submit">
              <button class="contact-form-submit-button" type="submit">Keep Me Posted</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
