<section class="section section-features-gestures padding-y-64">
  <div class="container">
    <div class="row flex-direction-column-reverse flex-direction-md-row">
      <div class="features-left column-12 column-md-6 display-flex align-items-center justify-content-end">
        <div class="width-100 padding-32">
          <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{ .vimeo }}?h=5eaa7e9147&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
      </div>
      <div class="features-right column-12 column-md-6 display-flex flex-direction-column padding-x-0">
        <h3 class="section-features-title font-family-courier-new padding-x-32 padding-y-8">{{ .title }}</h3> 
        <ul class="features-right-list">
          {{ range .list }}
            <li class="features-right-item padding-x-32 padding-y-8">{{ . | safeHTML }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
