<section class="section section-features-gestures padding-y-64">
  <div class="container">
    <div class="row flex-direction-column-reverse flex-direction-md-row">
      <div class="features-left column-12 column-md-6 display-flex align-items-center justify-content-end">
        <div class="width-100 padding-32">
          <div class="rounded-corners">
                <img width="500" src="/images/features.jpeg" alt="Screenshot with main features and lichi" />
          </div>
        </div>
      </div>
      <div class="features-right column-12 column-md-6 display-flex flex-direction-column padding-x-0">
        <h3 class="section-features-title font-family-courier-new padding-left-32 padding-y-8">{{ .title }}</h3> 
        <div class="features-right-content">
          <div class="features-right-text padding-x-32">
            <div class="features-right-text-body column-12">
              {{ .text | safeHTML }}
            </div>
            <ul class="features-right-list">
              <li class="features-right-item padding-left-32 padding-y-8"></li>
              <li class="features-right-item padding-left-32 padding-y-8"></li>
              <li class="features-right-item padding-left-32 padding-y-8"></li>
              <li class="features-right-item padding-left-32 padding-y-8"></li>
              <li class="features-right-item padding-left-32 padding-y-8"></li>
              <li class="features-right-item padding-left-32 padding-y-8"></li>
              <li class="features-right-item padding-left-32 padding-y-8"></li>
              <li class="features-right-item padding-left-32 padding-y-8"></li>
              <li class="features-right-item padding-left-32 padding-y-8"></li>
              <li class="features-right-item padding-left-32 padding-y-8"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
