<section class="section section-hero">
  <div class="hero-container container">
    <div class="hero-box" >
      <img class="width-100" src="/images/wire.png" alt="Wire Image">
      {{ if .beta }}
        <div class="hero-beta">
          <img src="/images/hero-beta.png" alt="Now In Beta" width="150" height="150">
        </div>
      {{ end }}
      <h1 class="hero-title"><img class="logo-icon" src="/images/logo-icon.png" alt=""><span class="">Terminal</span><span class="color-pink-flamingo">7</span> <span class="block-icon"></span></h1>
      <p class="hero-text">{{ .text | safeHTML }}</p>
    </div>
  </div>
</section>
