<section class="section section-hero">
  <div class="hero-container container">
    <div class="hero-box" >
      <img class="width-100" src="/images/wire.png" alt="Wire Image">
      <div class="buttons">
        <a href='{{ .PWAUrl }}'>
           <img alt='launch as a web app' src='/images/pwa.svg' />
        </a>
        <a href='{{ .playStoreUrl }}'>
           <img alt='Get it on Google Play' src='./images/playstore.png' />
        </a>
        <a id="app-store-link" href="{{ .appStoreUrl }}">
          <img src="/images/appstore.png" alt="Get it on the App Store" />
        </a>
      </div>

      <h1 class="hero-title"><img class="logo-icon" src="/images/logo-icon.png" alt=""><span class="logo-text">Terminal</span><span class="color-pink-flamingo">7</span> <span class="block-icon"></span></h1>
      <p class="hero-text">{{ .text | safeHTML }}</p>
    </div>
  </div>
</section>
