<footer class="section-footer text-align-center padding-top-8">
  <div class="footer-paragraph-text display-inline-block margin-x-64 padding-x-8">
    <div class="footer-separator-image">
      <img class="" src="/images/circle8230.png" alt="" width="36" height="30">
    </div>
    <p class="">
      {{ .Site.Params.copyright }}
    </p>
  </div>
  <div class="footer-menu display-md-none">
    <div class="footer-container container">
      <a href="{{ .Site.BaseURL }}">
        <h1 class="hero-title">
          <img class="logo-icon" src="/images/logo-icon.png" alt="">
          <span class="">Terminal</span>
          <span class="color-pink-flamingo">7</span> <span class="block-icon"></span>
        </h1>
      </a>
      <a class="footer-button" href="#">
        <img class="" src="/images/footer-button.png" alt="" width="32" height="32">
      </a>
    </div>
  </div>
</footer>
