<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M9ZSWM2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="menu-nav container display-flex align-items-center justify-content-end">
  <ul class="menu-list display-flex align-items-center justify-content-end">
    {{ range $i, $e := .Site.Menus.main }}
      <li class="menu-item padding-x-8">
        <a href="{{ $e.URL }}"> {{ $e.Name }} </a>
      </li>
      {{ if ne $i (sub (len site.Menus.main) 1) }}
        <span class="color-blackcurrant">|</span>
      {{ end }}
    {{ end }}
  </ul>
</nav>
